<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bffmedia.hour6app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bffmedia.hour6app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Form Control Activity" android:name="com.bffmedia.hour6app.FormControlActivity"></activity>
        <activity android:label="Using Adapters" android:name="com.bffmedia.hour6app.UsingAdaptersActivity"></activity>
        <activity android:label="Progress Activity" android:name="com.bffmedia.hour6app.ProgressActivity"></activity>
        <activity android:label="ImageView Activity" android:name="com.bffmedia.hour6app.ImageViewActivity"></activity>
        <activity android:label="Exercise Activity" android:name="com.bffmedia.hour6app.Excercise"></activity>
        <activity android:label="Setting Activity" android:name="com.bffmedia.hour6app.SettingActivity"></activity>
    </application>

</manifest>
